@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Oswald&display=swap");
/* font-family: "Merriweather", serif;
font-family: "Oswald", sans-serif; */
* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  padding: 0px;
  margin: 0px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

header p {
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
}

#imageBig {
  max-height: 80vh;
}

#imageBig {
  max-height: 80vh;
}

#imageSmall {
  max-height: 40vh;
}
